{% extends 'base.html.twig' %}

{% block title %}New Visiter{% endblock %}

{% block body %}
    <h1>Create new Visiter</h1>

    {{ include('visiter/_form.html.twig') }}

    <a href="{{ path('visiter_index') }}">back to list</a>
{% endblock %}
