{{ form_start(form) }}
    {{ form_widget(form) }}
    <button formnovalidate class="w-full px-4 py-3 bg-blue-700 text-blue-200 rounded hover:bg-blue-500 hover:text-blue-100">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
