{% extends 'base.html.twig' %}

{% block title %}Edit Ouvrage{% endblock %}

{% block body %}
    <h1>Edit Ouvrage</h1>

    {{ include('ouvrage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ouvrage_index') }}">back to list</a>

    {{ include('ouvrage/_delete_form.html.twig') }}
{% endblock %}
